.wrapper
{
    width: 800px;
    margin: 0 auto;
    /*background: #ccc;*/
    margin-top: 50px;
    margin-left: 50px;
/*    border: #ccc;
    border-style: solid;*/
}

.basic-info
{
    display: block;
}

table
{
    margin-bottom: 50px;
}

table td
{
    height: 20px;
    width: 120px;
    border-color: #000;
    border-width: 1px;
}

img
{
    display: block;
    float: right;
    width: 100px;
    height: 140px;
    margin: 0;
}

h1
{
    display: block;
    width: 100px;
    height: 50px;
    float: left;
    margin-top: 100px;
}

h2
{
    margin-bottom: 10px;
    margin-left: 35px;
    font-size: 22px;
}

.name
{
    font-weight:600;
    font-size: 30px;
    margin-top: 0;
    margin-left: 0;

}

.content1
{
    width: 800px;
    margin: 0 auto;
    margin-left: 50px;
}

.edu-section
{
    width: 800px;
    margin: 0 auto;
    height: 70px;
    margin-left: 50px;
}

.project-section
{
    width: 800px;
    margin: 0 auto;
    height: 550px;
    margin-left: 50px;
}

.skill-section
{
    width: 800px;
    margin: 0 auto;
    height: 110px;
    margin-left: 50px;
}

.evaluate-section
{
    width: 800px;
    margin: 0 auto;
    height: 110px;
    margin-left: 50px;
}

.content1 .con
{
    padding-left: 30px;
}

.content .hr
{
    width: 85%;
    display: block;
    background: #ccc;
    height: 2px;
}

.icon-search
{
    display: block;
    float: left;
    padding-left: 10px;
}

.icon-user
{
    display: block;
    float: left;
    padding-left: 10px;
}

.icon-wrench
{
    display: block;
    float: left;
    padding-left: 10px;
}

.icon-desktop
{
    display: block;
    float: left;
    padding-left: 10px;
}

.icon-hand-right
{
    display: block;
    float: left;
    padding-left: 10px;
}

.edu-section .expr-edu
{
    padding-left: 30px;
    display: block;
    float: left;
    padding-top: 10px;

}

.project-section .pro1
{
    height: 170px;
}

.project-section .pro1 .pro-time
{
    display: block;
    float: left;
    position: relative;
    top: 19px;
    left: 30px;
}

.project-section .pro1 .mango
{
    width: 500px;
    display: block;
    float: left;
    position: relative;
    top: 0px;
    left: 50px;
}

.skill-section p
{
    display: block;
    float: left;
    padding-left: 30px;
}

.evaluate-section p
{
    display: block;
    float: left;
    padding-left: 30px;
}

.icon-group
{
    display: block;
    margin-top: 30px;
}

.curved_box {
    display: inline-block;
    *display: inline;
    width: 750px;
    height: 1250px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #eee;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    position: relative;
    *zoom: 1;
    margin-left: 300px;
}

.curved_box:before {
    -webkit-transform: skew(-15deg) rotate(-6deg);
    -moz-transform: skew(-15deg) rotate(-6deg);
    transform: skew(-15deg) rotate(-6deg);
    left: 15px;
}
.curved_box:after {
    -webkit-transform: skew(15deg) rotate(6deg);
    -moz-transform: skew(15deg) rotate(6deg);
    transform: skew(15deg) rotate(6deg);
    right: 15px;
}

.curved_box:before, .curved_box:after {
    width: 70%;
    height: 55%;
    content: ' ';
    
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    
    position: absolute;
    bottom: 10px;
    z-index: -1;    
}
